.DS_Store
*.xcuserdatad
kidozen.client/.DS_Store

plcrashreporter-1.2-rc4/build
outputLibrary
plcrashreporter-1.2-rc4/CrashReporter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
plcrashreporter-1.2-rc4/CrashReporter.xcodeproj/project.xcworkspace/xcshareddata/CrashReporter.xccheckout
WorkspaceSettings.xcsettings
thirdParty/plcrashreporter-1.2-rc4/build
DataVizSampleApp.xccheckout
