/.DS_Store
/KidoZenDemos/DerivedData/
/KidoZenDemos/.DS_Store
/KidoZenDemos/certificates/.DS_Store
/kz.client/.DS_Store
/OSXKidozenDemos/DerivedData/OSXKidozenDemos/
/OSXKidozenDemos/OSXKidozenDemos/OSXKidozenDemos-Prefix.pch
*.xcuserdatad
